streamlit==1.32.0
groq==0.5.0
easyocr==1.7.1
Pillow==10.2.0
opencv-python-headless==4.9.0.80
pandas==2.2.1
numpy==1.26.4
plotly==5.20.0
speechrecognition==3.10.1
python-dateutil==2.9.0
requests==2.31.0
pydub==0.25.1
soundfile==0.12.1
streamlit-option-menu==0.3.12
extra-streamlit-components==0.1.71
streamlit-lottie==0.0.5
altair==5.2.0
